html body, a, a:visited {
    background: #eee;
    margin: 0;
    padding: 0;
    font: 12px/1.2 "quicksand";
    font-style: normal;
    color: #444;
    height: 100%;
    text-decoration: none;
}
html body a:hover {
    text-decoration: underline;
    font-weight: bold;
}
.container {
    width: 820px;
    margin: 40px auto;
}
.sidebar {
    position: fixed;
    width: 220px;
    float: left;
}
.sidebar div#name {
    text-align: right;
    font-weight: bold;
    font-size: 1.3em;
    text-transform:uppercase;
    padding: 10px 30px;
}
.sidebar ul {
    float: right;
    text-align: right;
    padding: 5px 30px;
}
.sidebar ul li {
    list-style: none;
    text-transform:lowercase;
}
.sidebar ul li.active, .sidebar ul li.active a, .sidebar ul li a:hover, .sidebar ul li.active a:hover {
    font-weight: bold;
    text-decoration: none;
}
.content {
    float: right;
    width: 600px;
    min-height: 250px ;
    padding: 10px 10px;
    border-radius: 25px;
}
#Home div#contact {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}
#Home img {
    height: 180px;
    width: 166px;
}
.tab_content h2 {
    font-weight: normal;
    font-size: 1.4em;
    text-align: center;
}
.content img {
    float: left;
    margin: 0 20px 0 0;
    border: 1px solid #ddd;
    height: 180;
    width: 120;
    padding: 1px;
}
.tab_content caption {
    font-weight: bold;
    padding: 10px 0 5px;
    text-align: left;
}
.tab_content h4{
    font-weight: bold;
    margin: 10px 0 0px 0;
    text-align: left;
}
.header { /* this is the cv header */
    text-align: center;
}
.cvlinks {
    text-align: center;
    font-size: 0.8em;
}
.cvlinks a:before, .cvlinks a:after {
    content: "|";
}
.cvtable {
    width: 100%;
}
.cvtable td {
    padding: 0 10px 0 0;
    vertical-align: top;
}
.cvtable td:first-child {
    width: 20%;
}
.cvtable td:nth-child(2){
    width: 45%;
}
