@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

html body {
  background: #666;
  margin: 0;
  padding: 0;
  font: 14px/1.2 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(88, 77, 77);
  height: 100%;
}
h1 {
  font-size: 3em;
  margin: 20px 0;
}
.container {
  width: 600px;
  margin: 5px auto;
}
.tabs {
  float: left;
  width: 100%;
  background: #000;
  border-bottom: 1px solid #000;
  border-radius: 5px 5px 0 0;
}
ul.tabs {
  float: left;
  text-align: right;
  margin: 0;
  padding: 0 10px 0;
  position: relative;
}
ul.tabs li:first-child {
  float: left;
  color: #ddd;
  font-weight: bold;
  font-size: 1.6em;
  text-transform:uppercase;
}
ul.tabs li:nth-child(n+2) {
  position: relative;
  transform: translateY(50%);
  text-transform:lowercase;
}
ul.tabs li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  padding: 3px 20px;
}
ul.tabs li a {
  text-decoration: none;
  color: #ccc;
}
ul.tabs li a:hover {
  font-weight: bold;
}
html ul.tabs li.active, html ul.tabs li.active a, html ul.tabs li.active a:hover  {
  font-weight: bold;
  color: #fff;
}
.tab_container {
  width: 100%;
  min-height: 250px ;
  background: #fff;
  padding: 10px 10px;
  border-radius: 25px;
}
.tab_content {
  height: 100%;
}
#Home div {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}
#Home img {
  height: 180px;
  width: 166px;
}
.tab_content h2 {
  font-weight: normal;
  font-size: 1.6em;
  margin: 20px 0 0 0;
}
.tab_content a, .tab_content a:visited {
  color: #222;
  text-decoration: none;
}
.tab_content a:hover {
  color: #222;
  font-weight: bold;
  text-decoration: underline;
}
.clearfix:after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */
* html .clearfix {height:1px;}
.tab_content img {
  float: left;
  margin: 0 20px 0 0;
  border: 1px solid #ddd;
  height: 180;
  width: 120;
  padding: 1px;
}
.tab_content caption {
  font-weight: bold;
  padding: 10px 0 5px;
  text-align: left;
}
.tab_content h4{
  font-weight: bold;
  margin: 10px 0 0px 0;
  text-align: left;
}
.bottom {
  width: 100%;
  background: #fff;
  padding: 10px 0 5px;
  text-align: center;
}
.bottom a{
  color: #222;
}
.bottom a:hover {
  font-weight: bold;
}
.header {
  text-align: center;
}
.cvlinks {
  text-align: center;
  font-size: 0.8em;
}
.cvlinks a:before, .cvlinks a:after {
  content: "|";
}
.cvtable {
  width: 100%;
}
.cvtable td {
  padding: 0 10px 0 0;
  vertical-align: top;
}
.cvtable td:first-child {
  width: 20%;
}
.cvtable td:nth-child(2){
  width: 45%;
}
